<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CUSTOMER</key>
	<dict>
		<key>option</key>
		<array>
			<dict>
				<key>name</key>
				<string>点我下单</string>
				<key>type</key>
				<string>HTZPlaceOrderViewController</string>
				<key>imageName</key>
				<string>home_click_orders</string>
			</dict>
			<dict>
				<key>name</key>
				<string>收货管理</string>
				<key>type</key>
				<string></string>
				<key>imageName</key>
				<string>home_receiving_management</string>
			</dict>
			<dict>
				<key>name</key>
				<string>异常订单</string>
				<key>type</key>
				<string></string>
				<key>imageName</key>
				<string>home_abnormal_order</string>
			</dict>
			<dict>
				<key>name</key>
				<string>消息中心</string>
				<key>type</key>
				<string>HTZMessageCenterViewController</string>
				<key>imageName</key>
				<string>home_message_center</string>
			</dict>
		</array>
	</dict>
	<key>PLANT</key>
	<dict>
		<key>option</key>
		<array>
			<dict>
				<key>name</key>
				<string>选择工程</string>
				<key>type</key>
				<string></string>
				<key>imageName</key>
				<string>home_select_project</string>
			</dict>
			<dict>
				<key>name</key>
				<string>生产计划</string>
				<key>type</key>
				<string></string>
				<key>imageName</key>
				<string>home_production_plan</string>
			</dict>
			<dict>
				<key>name</key>
				<string>异常订单</string>
				<key>type</key>
				<string></string>
				<key>imageName</key>
				<string>home_abnormal_order</string>
			</dict>
			<dict>
				<key>name</key>
				<string>消息中心</string>
				<key>type</key>
				<string>HTZMessageCenterViewController</string>
				<key>imageName</key>
				<string>home_message_center</string>
			</dict>
		</array>
	</dict>
	<key>EXPRESS</key>
	<dict>
		<key>option</key>
		<array>
			<dict>
				<key>name</key>
				<string>运单管理</string>
				<key>type</key>
				<string></string>
				<key>imageName</key>
				<string>home_waybill_management</string>
			</dict>
			<dict>
				<key>name</key>
				<string>消息中心</string>
				<key>type</key>
				<string>HTZMessageCenterViewController</string>
				<key>imageName</key>
				<string>home_message_center</string>
			</dict>
		</array>
	</dict>
	<key>DRIVER</key>
	<dict>
		<key>option</key>
		<array>
			<dict>
				<key>name</key>
				<string>扫一扫</string>
				<key>type</key>
				<string></string>
				<key>imageName</key>
				<string>home_scan</string>
			</dict>
			<dict>
				<key>name</key>
				<string>签到上班</string>
				<key>type</key>
				<string></string>
				<key>imageName</key>
				<string>home_sign_work</string>
			</dict>
			<dict>
				<key>name</key>
				<string>消息中心</string>
				<key>type</key>
				<string>HTZMessageCenterViewController</string>
				<key>imageName</key>
				<string>home_message_center</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
