<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CUSTOMER</key>
	<dict>
		<key>option</key>
		<array>
			<dict>
				<key>name</key>
				<string></string>
				<key>type</key>
				<string></string>
				<key>imageName</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>type</key>
				<string></string>
				<key>imageName</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>type</key>
				<string></string>
				<key>imageName</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>PLANT</key>
	<dict>
		<key>names</key>
		<array>
			<string>HTZHomeViewController</string>
			<string>HTZOrderViewController</string>
			<string>HTZPlatformViewController</string>
			<string>HTZMeViewController</string>
		</array>
		<key>titles</key>
		<array>
			<string>首页</string>
			<string>订单管理</string>
			<string>工作台</string>
			<string>我的</string>
		</array>
		<key>normalImages</key>
		<array>
			<string>tabBar_home_icon</string>
			<string>tabBar_order_icon</string>
			<string>tabBar_platform_icon</string>
			<string>tabBar_me_icon</string>
		</array>
		<key>selectImages</key>
		<array>
			<string>tabBar_home_click_icon</string>
			<string>tabBar_order_click_icon</string>
			<string>tabBar_platform_click_icon</string>
			<string>tabBar_me_click_icon</string>
		</array>
	</dict>
	<key>EXPRESS</key>
	<dict>
		<key>names</key>
		<array>
			<string>HTZHomeViewController</string>
			<string>HTZPlatformViewController</string>
			<string>HTZMeViewController</string>
		</array>
		<key>titles</key>
		<array>
			<string>首页</string>
			<string>工作台</string>
			<string>我的</string>
		</array>
		<key>normalImages</key>
		<array>
			<string>tabBar_home_icon</string>
			<string>tabBar_platform_icon</string>
			<string>tabBar_me_icon</string>
		</array>
		<key>selectImages</key>
		<array>
			<string>tabBar_home_click_icon</string>
			<string>tabBar_platform_click_icon</string>
			<string>tabBar_me_click_icon</string>
		</array>
	</dict>
	<key>DRIVER</key>
	<dict>
		<key>names</key>
		<array>
			<string>HTZHomeViewController</string>
			<string>HTZOrderViewController</string>
			<string>HTZMeViewController</string>
		</array>
		<key>titles</key>
		<array>
			<string>首页</string>
			<string>我的运单</string>
			<string>我的</string>
		</array>
		<key>normalImages</key>
		<array>
			<string>tabBar_home_icon</string>
			<string>tabBar_order_icon</string>
			<string>tabBar_me_icon</string>
		</array>
		<key>selectImages</key>
		<array>
			<string>tabBar_home_click_icon</string>
			<string>tabBar_order_click_icon</string>
			<string>tabBar_me_click_icon</string>
		</array>
	</dict>
</dict>
</plist>
